* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(231, 206, 184);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    width: 100%;
    min-height: 220px;
    max-height: 340px;
    border-radius: 20px;
    padding: 10px;
}

.h1Principal {
    text-align: center;
    font-size: 50px;
    background-color: rgb(90, 178, 137);
    padding: 20px;
}

.divButon {
    text-align: center;

}

.claseBorrar {
    width: 200px;
    height: 40px;
}

a {
    text-decoration: none;
    color: rgb(24, 23, 97);
    font-size: 20px;
}

.claseFormulario {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.claseFormulario input {
    text-align: center;
    height: 40px;
    padding: 5px;
    border: black 1px solid;
    margin: 5px 5px 5px 5px;
}

.h1Tendencias {
    text-align: center;
    font-size: 40px;
    margin-top: 30px;

}


.claseSection {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
}


.figureTresFotos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    padding: 5px;
    text-align: center;
    color: black;
    font-size: 20px;
}


.h1MisFotos {
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
    margin-bottom: 20px;
}


.claseSectionAutor {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.claseSectionAutor figure {
    display: flex;
    flex-direction: column;
    padding: 5px;
    text-align: center;
    margin-bottom: 20px;
    width: 300px;
}

.classCollection figure {
    width: 350px;
    margin: 10px;
}

.claseUsuario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.claseUsuario figure {
    width: 300px;
    margin: 10px;
    text-align: center;
}

.h1Titular {
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
}

.classCollection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divEnlace {
    text-align: center;
    margin-top: 40px;
    background-color: aliceblue;
    padding: 10px;
}

.enlacePrincipal {
    font-size: 30px;
    color: rgb(134, 67, 18);
}

.h1FotoGrande {
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
}

.classCollection {
    margin-top: 50px;
}


@media screen and (min-width:768px) {

    .claseSection {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 20px;
        justify-content: space-around;

    }

    .figureTresFotos {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        padding: 5px;
        text-align: center;
        color: black;
        font-size: 20px;
    }


    .h1MisFotos {
        font-size: 25px;
        text-align: center;
        margin-top: 50px;
        font-size: 40px;
        margin-bottom: 20px;
    }

    .claseSectionAutor {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .claseSectionAutor figure {
        display: flex;
        flex-direction: column;
        padding: 5px;
        text-align: center;
        margin-bottom: 20px;
    }

    .h1Titular {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .claseUsuario {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 0 auto;
        text-align: center;
        padding: 15px;
        margin-bottom: 20px;
    }

    .claseUsuario figure {
        margin-bottom: 20px;
        padding: 20px;
        border-radius: 15px;
        margin: 5px;
    }

    .classCollection {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }

    .classCollection figure {
        width: 350px;
        margin: 10px;
    }

}

@media screen and (min-width:992px) {
    .claseFormulario {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }

    .claseSection {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 20px;

    }


    @media screen and (min-width:1200px) {
        .classCollection {
            margin-top: 100px;
        }


    }

    .claseSection {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }

    .claseSectionAutor figure {
        display: flex;
        flex-direction: column;
        padding: 5px;
        text-align: center;
        margin-bottom: 20px;
        width: 350px;
    }



}